
<!-- header bar start-->
<!--<div class="ContentSideSections" id="PFTopLinksCover" style="height:30px;">-->
    <!--<a id="LOGOTEXTSIDE" [routerLink]="['Main']">-->
        <!--<img alt="logo" src="showcase/resources/images/primengfull.svg"/>-->
    <!--</a>-->

    <!--<a href="#" id="openMenuBtn" (click)="toggleMenu($event)" [ngClass]="{'active':mobileMenuActive}">-->
        <!--<img alt="logo" src="showcase/resources/images/menuicon.svg"/>-->
    <!--</a>-->

    <p-menubar>
        <ul>
            <li> <a data-icon="fa-file-o"><span>File</span></a>
                <ul>
                    <li><a data-icon="fa-plus"><span>New</span></a>
                        <ul>
                            <li><a><span>Project</span></a></li>
                            <li><a><span>Other</span></a></li>
                        </ul>
                    </li>
                    <li><a><span>Open</span></a></li>
                    <li><a><span>Quit</span></a></li>
                </ul>
            </li>
            <li> <a data-icon="fa-edit">Edit</a>
                <ul>
                    <li><a data-icon="fa-mail-forward"><span>Undo</span></a></li>
                    <li><a data-icon="fa-mail-reply"><span>Redo</span></a></li>
                </ul>
            </li>
        </ul>
    </p-menubar>


<!--</div>-->
<!-- header bar end-->
