<div class="ContentSideSections">
    <table>
        <tr>
            <td><h3 class="first">Articles</h3></td>
        </tr>
        <tr>
            <td class="right-align">
                <button pButton type="button" (click)="" label="Add New"></button>
            </td>
            <td class="right-align">
                <button pButton type="button" (click)="" label="Remove Last"></button>
            </td>
            <td class="right-align">
                <button pButton type="button" (click)="" label="Edit First"></button>
            </td>
        </tr>
    </table>

    <table class="doc-table">
        <thead>
        <tr class="text-center">
            <th>ID</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let perm of Elems()">
            <td>{{perm.id}}</td>
            <td>{{perm.name}}</td>
        </tr>
        </tbody>
    </table>
</div>