<div id="MENUSIDE" [ngClass]="{'active':mobileMenuActive}">
    <div id="MENUSIDEindent">
            <span id="LOGO" class="">
                <a href="#" [routerLink]="['Main']">
                    <!--<img alt="logo" src="showcase/resources/images/primeng.svg"/>-->
                    <h3>GOOFY DASHBOARD</h3>
                </a>
                <a href="#" id="openMobileMenuBtn" (click)="toggleMenu($event)" [ngClass]="{'active':mobileMenuActive}">
                    <!--<img alt="logo" src="showcase/resources/images/menuicon.svg"/>-->
                </a>
                <!--<img id="BlueLogo" alt="logo" src="showcase/resources/images/primeng.png" class="hiddenLogo"/> -->
            </span>

        <span id="menu_dashboard"
              #dashboardmenutitle
              class="MenuSideMainLink bordersOfMenuSide"
              [class.MenuSideMainLinkDark]="dashboardmenutitle.id == activeMenuId"
              (click)="activeMenuId = dashboardmenutitle.id">
              <!--<img src="showcase/resources/images/mono/input.svg"/>-->
            <!--<img class="hiddenIcons" src="showcase/resources/images/mono/inputBlue.svg"/>-->
              <i class="fa fa-dashboard"></i>
              <span class="MainLinkText">MAIN</span>
        </span>
        <div
                class="SubMenuLinkContainer"
                [ngClass]="{'submenushow': (dashboardmenutitle.id == activeMenuId), 'submenuhide': (dashboardmenutitle.id != activeMenuId)}">
            <a class="SubMenuLink" [routerLink]="['Main']" (click)="mobileMenuActive = false">&#9679; Homepage</a>
        </div>

        <span id="menu_auth"
              #authmenutitle
              class="MenuSideMainLink bordersOfMenuSide"
              [class.MenuSideMainLinkDark]="authmenutitle.id == activeMenuId"
              (click)="activeMenuId = authmenutitle.id">
              <!--<img src="showcase/resources/images/mono/panel.svg" />-->
            <!--<img class="hiddenIcons" src="showcase/resources/images/mono/panelBlue.svg" />-->
              <i class="fa fa-users"></i>
            <span class="MainLinkText">Authorization</span>
        </span>
        <div class="SubMenuLinkContainer"
             [ngClass]="{'submenushow': (authmenutitle.id == activeMenuId), 'submenuhide': (authmenutitle.id != activeMenuId)}">
            <a class="SubMenuLink"
               [routerLink]="['AuthUsers']"
               (click)="mobileMenuActive = false">&#9679; Users</a>
            <a class="SubMenuLink"
               [routerLink]="['AuthRoles']"
               (click)="mobileMenuActive = false">&#9679; Roles</a>
            <a class="SubMenuLink"
               [routerLink]="['AuthPermissions']"
               (click)="mobileMenuActive = false">&#9679; Permissions</a>
            <a class="SubMenuLink"
               [routerLink]="['AuthUserRoles']"
               (click)="mobileMenuActive = false">&#9679; User Roles</a>
            <a class="SubMenuLink"
               [routerLink]="['AuthUserClaims']"
               (click)="mobileMenuActive = false">&#9679; User Claims</a>
            <a class="SubMenuLink"
               [routerLink]="['AuthRoleClaims']"
               (click)="mobileMenuActive = false">&#9679; Role Claims</a>
        </div>

        <span id="menu_blog"
              #blogmenutitle
              class="MenuSideMainLink bordersOfMenuSide"
              [class.MenuSideMainLinkDark]="blogmenutitle.id == activeMenuId"
              (click)="activeMenuId = blogmenutitle.id">
              <!--<img src="showcase/resources/images/mono/panel.svg" />-->
            <!--<img class="hiddenIcons" src="showcase/resources/images/mono/panelBlue.svg" />-->
              <i class="fa fa-server"></i>
              <span class="MainLinkText">Blog</span>
        </span>
        <div class="SubMenuLinkContainer"
             [ngClass]="{'submenushow': (blogmenutitle.id == activeMenuId), 'submenuhide': (blogmenutitle.id != activeMenuId)}">
            <a class="SubMenuLink"
               [routerLink]="['ArticlesList']"
               (click)="mobileMenuActive = false">Articles</a>
        </div>


        <span id="menu_plugins"
              #pluginsmenutitle
              class="MenuSideMainLink bordersOfMenuSide"
              [class.MenuSideMainLinkDark]="pluginsmenutitle.id == activeMenuId"
              (click)="activeMenuId = pluginsmenutitle.id">
            <!--<img src="showcase/resources/images/mono/panel.svg" />-->
            <!--<img class="hiddenIcons" src="showcase/resources/images/mono/panelBlue.svg" />-->
            <i class="fa fa-plug"></i>
            <span class="MainLinkText">Plugins</span>
        </span>
        <div class="SubMenuLinkContainer"
             [ngClass]="{'submenushow': (pluginsmenutitle.id == activeMenuId), 'submenuhide': (pluginsmenutitle.id != activeMenuId)}">
            <a class="SubMenuLink"
               [routerLink]="['Plugins']"
               (click)="mobileMenuActive = false">&#9679; Plugins</a>
        </div>
    </div>
</div>
