<div class="ContentSideSections">
    <h3 class="first"> Servers </h3>
    <table class="table">
        <thead>
        <tr>
            <th class="text-center">ID</th>
            <th>Name</th>
            <th>Role</th>
            <th>Account</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users ">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.role}}</td>
            <td>{{user.account}}</td>
        </tr>
        </tbody>
    </table>


</div>