<div class="PC">
    <sidebar></sidebar>

    <div id="CONTENTSIDE">
        <div id="CONTENTSIDEindent">

            <!--<menu></menu>-->

            <div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>

    <!-- footer start-->
    <div class="ContentSideSections">
        <span class="floatLeft fontSize14 gray"><a href="#">Goofy Dashboard</a>, Copyright &copy; 2016</span>
        <span class="floatRight fontSize14 gray">All rights reserved</span>
        <div style="clear:both"></div>
    </div>
    <!-- footer end-->
    <!--</div>-->
</div>